.container {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background: linear-gradient(360deg, #ffffff 0%, #ffffff 100%);
  padding: 18px 24px;
  max-width: 345px;
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition */
}

.container:hover {
  transform: translateY(-10px); /* Moves the card up */
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.2); /* Adds a shadow */
}

.image {
  margin-bottom: 26px;
  transition: transform 0.3s ease; /* Smooth transition for the image */
}

.container:hover .image {
  transform: scale(1.05); /* Slightly enlarges the image on hover */
}

.title {
  font-size: 20px;
  font-weight: 700;
}

.description {
  margin-top: 6px;
  font-size: 18px;
  font-weight: 400;
}

.skills {
  width: 100%;
  margin-top: 14px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
}

.skill {
  font-size: 20px;
  font-weight: 400;
  border-radius: 100px;
  background: var(--color-dark);
  padding: 2px 22px;
}

.links {
  width: 100%;
  margin-top: 26px;
  display: flex;
  gap: 20px;
}

.link {
  text-decoration: none;
  color: white;
  font-size: 20px;
  font-weight: 600;
  border-radius: 100px;
  background: #343d42;
  padding: 1px 22px;
}
